<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:context = "http://www.springframework.org/schema/context"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <context:component-scan base-package = "com.socialyoutube.service.user" />

   <bean id = "gatewayProvider" class = "com.socialyoutube.service.common.GatewayProvider" destroy-method="close">
  </bean>

  <bean id = "gateway" factory-bean = "gatewayProvider" factory-method="gateway">
  </bean>

  <bean id = "userSrvice" class = "com.socialyoutube.service.user.Impl">
    <constructor-arg ref="gateway"></constructor-arg>
  </bean>

</beans>